
.signin-container {
    width: 90%;
    height: 90%;
    background-color: gray;
}
.signin {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  height: 100%;
  }

  .signup {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    height: 100%;
    }

.signin-left {
    border-right: 1px solid var(--color-gray);
    box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.5);
}  

.signup-right {
    border-right: 1px solid var(--color-gray);
    box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.5);
}

.signin-left h1{
    font-weight: 1000;
}

.input_field {
    background-color: #eeeeee;
    border: none;
    height: 50px;
    width: 100%;
}

.forget-pwd {
    font-size: large;
    
}

.forget-pwd a {
    color: gray;
}

button {
    width: 170px;
    height: 44px !important;
    background: red !important;
    border-radius: 20px !important;
}

.signin-right {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.signup-left {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.right-heading {
    
}

.right-heading h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
}

.right-heading p {
    color: white;
}

.right-btn {
    border: 1px solid;
    height: 44px;
}

